<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Owner">

	<insert id="EnrollRestaurant">
		INSERT INTO
		    restaurant(
		        restaurant_idx,
		        brand_name,
		        address,
		        brand_tel,
		        introduce,
		        enroll_date,
		        owner_idx,
		        category_name,
		        table_type
		    )
		VALUES(
		    (SELECT
		        MAX(restaurant_idx) + 1
		    FROM
		        restaurant),
		    #{brandName},
		    #{address},
		    #{brandTel},
		    #{introduce},
		    SYSDATE,
		    #{owner_idx},
		    #{category_name},
		    3
		)
	</insert>
	
	<select id="MyRestaurantList"
		resultType="com.green.restaurant.owner.vo.RestaurantVo">
		SELECT
			restaurant_idx as restaurantIdx,
			brand_name as brandName,
			address as address,
			brand_tel as brandTel,
			introduce as introduce,
			enroll_date as enrollDate,
			owner_idx as ownerIdx,
			category_name as categoryName,
			table_type as tableType
		FROM
			restaurant
		WHERE
			owner_idx = #{ownerIdx}
	</select>
	
	<select id="GetMyRestaurant"
		resultType="com.green.restaurant.owner.vo.RestaurantJoinMenu">
		SELECT
			r.restaurant_idx,
		    r.brand_name,
		    r.address,
		    r.brand_tel,
		    r.introduce,
		    r.enroll_date,
		    r.owner_idx,
		    r.category_name,
		    m.menu_idx,
		    m.menu_name,
		    m.menu_price
		FROM
		    restaurant r
		JOIN
		    menu m
		ON
		    r.restaurant_idx = m.restaurant_idx
		WHERE  
		    r.restaurant_idx = #{restaurant_idx}
	</select>
	
	<insert id="EnrollMenu">	
		INSERT INTO
			menu(
				menu_idx,
				menu_name,
				menu_price,
				restaurant_idx,
				table_type
			)
		VALUES(
			(SELECT
				MAX(menu_idx)+1
			FROM
				menu),
			#{menu},
			#{price},
			(SELECT
				MAX(restaurant_idx)
			FROM
				restaurant),
			2
		)
	</insert>
	
	<update id="UpdateRestaurant">
		UPDATE
			restaurant
		
	</update>
</mapper>