<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Owner">

	<insert id="EnrollRestaurant">
		INSERT INTO
		    restaurant(
		        restaurant_idx,
		        brand_name,
		        address,
		        brand_tel,
		        introduce,
		        enroll_date,
		        owner_idx
		    )
		VALUES(
		    (SELECT
		        MAX(restaurant_idx) + 1
		    FROM
		        restaurant),
		    #{brandName},
		    #{address},
		    #{brandTel},
		    #{introduce},
		    SYSDATE,
		    #{ownerIdx}
		)
	</insert>

</mapper>